<div id="all">
    <div style="clear: both;"></div>
    <div id="content">
        <div class="a1">
            <img class="big" src="${productPhoto}">
        </div>
        <div class="a2">
            <h2>${productName}</h2>
            <div class="a21">
                <div class="a211">
                    <span class="color">产品价格</span>
                    <span class="prices">${productPrice} ￥ </span>
                </div>
                <div class="a22">
                    <p></p>
                    <span class="color">产品成分</span>
                    <span class="neir">${productIngredients}</span>
                    <p></p>
                    <span class="color">产品规格</span>
                    <span class="neir">${productSpecifications}</span>
                    <p></p>
                    <span class="color">产品存储</span>
                    <span class="neir">${productStorage}</span>
                    <p></p>
                    <span class="color">产品品牌</span>
                    <span class="neir">${productBrand}</span>
                </div>
                <div class="a23">
                    <p></p>
                    <span class="color">产品详情</span>
                    <p>${productDetails}</p>
                </div>
            </div>
        </div>
    </div>
</div>
